In [1]:
#   Dependencies
from splinter import Browser
from bs4 import BeautifulSoup as soup
from webdriver_manager.chrome import ChromeDriverManager
from pprint import pprint
import re
import pandas as pd

## Review Scraping:

In [2]:
executable_path = {"executable_path": ChromeDriverManager().install()}
browser = Browser("chrome", **executable_path)

### Collingwood Stomping Grounds

In [4]:
url = "https://www.google.com/search?q=collingwood+stomping+grounds+google+reviews&oq=collingwood&aqs=chrome.0.69i59l2j69i57l2j0i271l2j69i60l2.1499j0j7&sourceid=chrome&ie=UTF-8#lrd=0x6ad642e25dbd14e9:0x4adeda76ac427a43,1,,,,,,"

browser.visit(url)

In [5]:
soup = soup(browser.html, "html.parser")

In [6]:
#   Extract review text
reviews = [x.text for x in soup.select(".review-full-text")]

In [7]:
# Create df
df = pd.DataFrame({"Review": reviews})

df

                                                Review
0    This brewery has indoor and outdoor seating wi...
1    After so many visits, this is consistently a g...
2    Always a great place to grab a beer after work...
3    What a great vibe! This brewery is one of the ...
4    This is a Melbourne establishment and staff he...
..                                                 ...
126  (Translated by Google) That was pretty much no...
127  (Translated by Google) Great brewery with a ni...
128  (Translated by Google) I ordered a beer sample...
129  (Translated by Google) Really a very, very nic...
130  (Translated by Google) Good local beer at a go...

[131 rows x 1 columns]

In [8]:
#Export csv
df.to_csv("./../stomping-ground.csv")

### Miss Mi

### Lorem

In [ ]:
url = "https://www.google.com/search?q=Miss+Mi&oq=Miss+Mi&aqs=chrome..69i57.1229j0j7&sourceid=chrome&ie=UTF-8#lrd=0x6ad65df7a8d31abf:0x6b0325463de5294f,1,,,,"

browser.visit(url)

In [ ]:
soup = soup(browser.html, "html.parser")

In [ ]:
#   Extract review text
reviews = [x.text for x in soup.select(".review-full-text")]

In [ ]:
# Create df
df = pd.DataFrame({"Review": reviews})

df

                                               Review
0   My friend and I experienced the Journey Throug...
1   This is a delightful restaurant with great foo...
2   It's beyond my expectation. Service is good - ...
3   Food was ok but nothing special.Kudos to staff...
4   I caught up with an ex colleague and decided t...
..                                                ...
56  Really enjoy dining here and thanks to the som...
57  $33 for 2 medium sized prawns was excessive. M...
58  Vegetarian options: Enough non meat optionsPar...
59  If you're looking for a unique Asian dining ex...
60  The restaurant is quite small but very popular...

[61 rows x 1 columns]

In [ ]:
#   Export as csv
df.to_csv("./../miss-mi.csv")

In [3]:
url = "https://www.google.com/search?q=Miss+Mi&oq=Miss+Mi&aqs=chrome..69i57.1229j0j7&sourceid=chrome&ie=UTF-8#lrd=0x6ad65df7a8d31abf:0x6b0325463de5294f,1,,,,"

browser.visit(url)

In [4]:
soup = soup(browser.html, "html.parser")

In [5]:
#   Extract review text
reviews = [x.text for x in soup.select(".review-full-text")]

In [6]:
# Create df
df = pd.DataFrame({"Review": reviews})

df

                                               Review
0   My friend and I experienced the Journey Throug...
1   This is a delightful restaurant with great foo...
2   It's beyond my expectation. Service is good - ...
3   Food was ok but nothing special.Kudos to staff...
4   I caught up with an ex colleague and decided t...
..                                                ...
56  Really enjoy dining here and thanks to the som...
57  $33 for 2 medium sized prawns was excessive. M...
58  Vegetarian options: Enough non meat optionsPar...
59  If you're looking for a unique Asian dining ex...
60  The restaurant is quite small but very popular...

[61 rows x 1 columns]

In [7]:
#   Export as csv
df.to_csv("./../miss-mi.csv")

### Scrap code

In [58]:
#   Method to extract review numbers if needed...

review_ratings = [x["aria-label"] for x in soup.select(".lTi8oc.z3HNkc")]
#   Initialize list to hold parsed ratings
parsed_ratings = []

for text in review_ratings:

    # Use regular expression to find the first number
    match = re.search(r'\d+', review_ratings[55])

    if match:
        first_number = match.group()
    else:
        first_number = None
    
    parsed_ratings.append(first_number)

In [56]:
review_ratings[1]

'Rated 5.0 out of 5,'

In [60]:
len(parsed_ratings)

1220